<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/wide.css" media="only screen and (min-width: 530px) and (min-device-width: 481px)" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/smartphone.css" media="only screen and (max-width: 480px)" />
  </head>
  <body>
	<div id="page-wrap">
	 	<header class="main" id="h1">
			<h2>Quiz: el juego de las preguntas</h2>
		</header>
		<section class="main" id="s1"> 
		    <p>El portal donde podras crear sus propios juegos</p>
		    <p><a href="/quizes/question">Comience a jugar por favor</a></p>
		</section>
		<br/>
		<footer class="main" id="f1">
			<a href="https://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a><br/>
			<a href="http://ricardoayalamx-quiz2015.herokuapp.com/">Mi proyecto en GitHub</a>
		</footer>
	</div>
  </body>
</html>
